<% if current_user %>

<div class="add-student-box">
<h1>Welcome to FEWD!</h1>
<p>Please type your name in the box below for attendance.</p>
<%= form_for @class_attendee do |f| %>
  <%= f.text_field :name %>
  <%= submit_tag("Submit", :class => "login-btn") %>
<%end%>
</div>

<div class="attendance-container-div">
<div class="todays-attendance">
<h1>Who's here?</h1>
<% if @class_attendees.exists? %>
  	<% @class_attendees.each do |student| %>
  	<p> <%= student['name'] %> </p>
  	<% end %>
<% else %>
	<p>No one's here yet.</p>
<%end%>
</div>

<div class="past-classes">
<h1>Past Classes</h1>
</div>

</div>

<% else %>
	<p class="login-redirect-msg">
	<%= link_to "You must enter today's password for attendance", '/enter' %>
	</p>
<% end %>